<!DOCTYPE html>
<html>
<head>
<title>Registrar Producto</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/indexC.css">
  <header>
    <img class="logo" th:src="@{/Proyecto/Logo Chig.png}"/> 
        <h1 class="titulo">Esferas Chignahuapan</h1>
        <nav class="navbar navbar-expand-sm bg-danger navbar-dark"> 
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/pagina/Index">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/producto/listar">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pagina/Ventas">Venta</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/producto/registrar">Registar Producto</a>
            </li>
          </ul>
        </nav>
</header>
</head>
<body>

<fieldset class="container">
    <br/>
    <form action="#" th:action= "@{registrar}" th:object="${producto}" method = "post">
   	 <div class="row">
           
            <div class="col-sm-7">  
                <div class="form-group">
                   <label>Nombre del producto: </label>  
                    <input type="text" th:field ="*{Nomnbre}" class = "form-control" placeholder = "Nombre del producto" required = "required" />
                </div>
                <div class="form-group">
                    <label>Precio: </label> 
                    <input type="text" th:field = "*{Precio}" class = "form-control" placeholder = "Precio del producto" required = "required"/>
                </div>
                <div class="form-group">
                    <label>Cantidad:</label> 
                    <input type="text" th:field = "*{stock}" class = "form-control" placeholder = "Cantidad para registrar" required = "required"/>
                </div>
                
               
                <button type="submit" class="btn btn-primary">Enviar</button>
               
              </div>
    </div>
    </form>
    <br/>
</fieldset>
</body>
<footer>
  <label>Contactanos en nuestros sitios de</label>
  <br>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x"></i>
  </span>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-whatsapp fa-stack-1x"></i>
  </span>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x"></i>
    </span>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-instagram fa-stack-1x"></i>
    </span>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-google fa-stack-1x"></i>
    </span>
</footer>
</html>